/*
    Base : #4A73DA;
*/

* {
	scrollbar-width: thin;
}

*::-webkit-scrollbar {
	width: 0px;
}
*::-webkit-scrollbar-track {
	background: transparent;
}
*::-webkit-scrollbar-thumb {
	background-color: #bdbdbd;
	border-radius: 20px;
}


/*
| -------------------------------------------------------------------------
| NAVBAR
| -------------------------------------------------------------------------
*/

.nav-webapp{
	height:50px;
	margin-top:20px;
	background: transparent !important;
	transition:500ms;
}
.nav-webapp.bgWhite{
	/* background: #ffffff !important; */
	margin-top:0px;
	height:50px;
    transition:500ms;
}
.nav-webapp .app-header__logo{
	margin:0px 0px 0px 40px;
}
.nav-webapp .header-menu .nav-item .nav-link{
	font-family: 'Nunito Bold' !important;
	font-size:14px;
	color:#616161 !important;
}
.nav-webapp .header-menu .nav-item .navbar-link::after{
	content:"";
	width: 0px;
	height: 3px;
	background-color: #4A73DA;
	position: absolute;
	border-radius:50px;
	display:block;
	bottom:0;
}

.nav-webapp .header-menu .nav-item .navbar-link:hover::after{
	width: 50%;
	height: 3px;
	transition: 0.3s;
}
.nav-webapp .header-menu .nav-item .navbar-link.active::after{
	content:"";
	width: 50%;
	height: 3px;
	background-color: #4A73DA;
	position: absolute;
	border-radius:50px;
	display:block;
	bottom:0;
}
.nav-webapp .header-menu .nav-item .navbar-link.active{
	color:#4A73DA !important;
}
.nav-webapp .header-menu .nav-item .navbar-link:hover{
	color:#4A73DA !important;
}
.nav-webapp .header-menu .nav-item i{
	font-size:12px;
	color:#616161 !important;
}


/*
| -------------------------------------------------------------------------
| /////////////////////////////// MAIN SECTION ////////////////////////////
| -------------------------------------------------------------------------
*/
.app-main{
	margin-top:-60px;
}
.section {
	
}
.section .section-main{
	margin-top:70px !important;
}

.section .section-header .page-title::before{
	content:"";
	width: 20px;
	height: 3px;
	background-color: #4A73DA;
	position: relative;
	display: inline-block;
	border-radius:50px;
	margin-right:5px;
}

@media (max-width: 768px) {
	.section-main .section-header{
		margin-top:20px;
	}
}


/*
| -------------------------------------------------------------------------
| SECTION 1
| -------------------------------------------------------------------------
*/

.section1{
	/* background: rgb(224,243,255) url(../images/components/school-bg.svg) no-repeat right fixed; */
	background: rgb(224,243,255) url(../images/hero_highschool.jpg) no-repeat right fixed;
	height:100vh;
	overflow-y: scroll;
}
.section1 .jumbotron{
	background: transparent;
	background-size: 400px,500px;
	background-position-y: bottom;
	background-position-x: left;
}
.section1 .jumbotron h3{
	font-family:'Nunito Light';
}
.section1 .jumbotron img{
	width: 25%;
}
@media (max-width: 768px) {
	.section1{
		background: rgb(224,243,255);
	}
	.section1 .jumbotron{
		margin-top:100px;
		padding:0px !important;
	}
	.section1 .jumbotron h3{
		font-family:'Nunito Light';
		font-size:10px;
	}
	.section1 .jumbotron img{
		width: 25%;
	}
}
/*
| -------------------------------------------------------------------------
| SECTION 2
| -------------------------------------------------------------------------
*/

.section2{
	background-color: #F1F4F6;
}
.section2 .section-main{
	/* margin-top:60px !important; */
}
.section2 .section-prosedur .card-prosedur{
	box-shadow: none;
	border-radius:5px;
}

.section2 .section-prosedur .card-prosedur .card-body{
	height:80vh;
	max-height: 80vh;
	overflow-y: scroll;
}
.section2 .section-prosedur .card-prosedur .card-body::-webkit-scrollbar {
	width: 3px;
}
.section2 .body-tabs .nav-item .nav-link span{
	font-family: 'Nunito Bold' !important;
}

/*
| -------------------------------------------------------------------------
| SECTION 3
| -------------------------------------------------------------------------
*/
.section3{
	background: #F1F4F6 url(../images/components/reading.svg) no-repeat right fixed;
}

/*
| -------------------------------------------------------------------------
| SECTION Footer
| -------------------------------------------------------------------------
*/

.section4{
	background-color: #212121;
}

.section4 .section-prosedur .card .card-body{
	height:40vh;
	max-height: 40vh;
	overflow-y: scroll;
}

.section-footer ul li{
	font-family:'Nunito Light';
	font-size:15px;
	color:#e0e0e0;
}
.section-footer ul li a{
	display: block;
	width: 150px;
	font-family:'Nunito Light';
	font-size:15px;
}
.section-footer img{
	width: 35%;
}

/*
| -------------------------------------------------------------------------
| OTHER
| -------------------------------------------------------------------------
*/

