html,
* {
	font-family: "Nunito Regular";
}

.btn {
	font-family: "Nunito Bold";
}

/*/////////////////// IS MODAL */
.modal .modal-dialog {
	box-shadow: none;
}
.modal .modal-content .modal-header {
	background-color: #ffffff !important;
	border: 0px;
}

/*/////////////////// IS PAGE TITLE */

.page-title {
	color: #333333;
}
.page-title h2::before {
	content: "";
	width: 20px;
	height: 2px;
	background-color: #333333;
	position: relative;
	display: inline-block;
	border-radius: 50px;
	margin-bottom: 8px;
	margin-right: 5px;
}
.page-title h3 {
	border-bottom: 2px solid #4a73da;
	padding-bottom: 5px;
}
.page-title-subheading {
	margin-top: -10px !important;
	margin-left: -10px !important;
}
.page-sub-title {
	margin-top: -10px !important;
}

@media (max-width: 768px) {
	.page-title h1 {
		font-size: 1.5em !important;
	}
	.page-sub-title p {
		font-size: 1em !important;
	}
	.display-5 {
		border-bottom: 2px solid #4a73da;
		padding-bottom: 5px;
		font-size: 2em !important;
	}
}
/*/////////////////// FORM */
.form-group label {
	font-family: "Nunito Bold";
}

/*/////////////////// PHOTO */
.img-profile {
	max-width: 150px;
	max-height: 200px;
	width: 150px;
	height: 200px;
}
.img-profile img {
	height: 100%;
	width: 150px;
	object-fit: cover;
}
.img-profile-navbar {
	width: 30px;
	height: 100%;
	margin: 0px !important;
	padding: 0px !important;
}
.img-profile-navbar img {
	height: 100%;
	width: 100%;
	object-fit: cover;
}

/*/////////////////// ROOM LAYOUT */
.RoomLayout{
	width: 100%;
}
.RoomLayout .thisBoard{
	width: 100%;
	height:50px;
	text-align: center;
	border:1px solid #e0e0e0 !important;
	line-height:50px;
}
.RoomLayout .pengawas{ 
	width: 19%;
	height:80px !important;
	border:1px solid #e0e0e0 !important;
	margin:10px 0px 10px 0px;
	display: flex;
	padding:10px;
}
.RoomLayout .pengawas .pengawasName{ 
	margin-left:10px;
}
.ListPersonLayout{
	width: 100%;
	height:100%;
	max-width: 100%;
	display: table;
	margin-top:50px;
}
.ListPersonLayout .PersonLayout{
	width:19%;
	margin-right:1%;
	margin-bottom:1%;
	height:100px !important;
	box-shadow:none;
	display: inline-block;
	border:1px solid #e0e0e0 !important;
}
.ListPersonLayout .PersonLayout .imagePerson{
	width: 30%;
	height:100%;
	float:left;
}
.ListPersonLayout .PersonLayout .identityPerson{
	width: 70%;
	height:100%;
	padding:10px 10px 0px 10px;
	float:right;
}
.fit-image {
	width: 100%;
	object-fit: cover;
	border-radius:0px;
	height: 100%; /* only if you want fixed height */
}
.PersonLayout .identity{
	font-size:0.8em;
}
/* .img-detail-grid {
	height: auto;
	width: auto;
}
.img-detail-grid img {
	height: 100%;
	width: 100%;
	border-radius: 5px;
	object-fit: cover;
} */
